@{
    ViewData["Title"] = "Inicio";
}

<div >
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Luis Felipe Gómez Ruíz</h1>
      <p> <span class="typed" data-typed-items="Desarrollar de Software, Instituto Tecnologico Nacional de México, Musico"></span></p>
    </div>
  </section><!-- End Hero -->
</div>
